body {
    font-size: 1.2em;
}

#wrapper {
    width: 75%;
    min-width: 31.25%;
    min-height: 1000px;
    height: auto;
    margin: 0 20%;
    border: 1px #CCC solid;
    /*filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.7));*/
    box-shadow: 5px 5px 10px #999;
    background-color: #F8F8F8;
}

#navigator {
    width: 12%;
    height: auto;
    margin: 5% 2%;
    border: 1px #CCC solid;
    /*filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.7));*/
    /*box-shadow: 4px 4px 10px #999;*/
    position: fixed;
    font-size: 0.8em;
}

#nav_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px #555 solid;
}

#nav_links {
    float: left;
}

a:link, a:visited {
    display: block;
    width: 100%;
    background: #999;
    color: #111;
    font-weight: bold;
    padding: 4px;
    border-top: 1px #555 solid;
    border-bottom: 1px #555 solid;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #AAA;
}

#W3C_valid {
    position: absolute;
    left: 10px;
    bottom: -1000px;
}

#header {
    width: 100%;
    height: 15%;
    border-bottom: 1px #CCC solid;
    background-color: #FFF;
}

#head_title {
    width: 41.6666666%;
    height: 12.5%;
    /*width: 31.25%;
    height: 9.375%;*/
    margin: 0 auto;
}

#mid {
    width: 100%;
    height: 75%;
}

#text {
    width: 85%;
    height: auto;
    margin: 0 auto;
}

#intro {
    font-weight: bold;
    font-size: 1.05em;
    margin: 3% 0;
}

#bannerImg {
    margin: 0 auto;
    border: 1px #777 solid;
}

#timImg {
    float: right;
    border: 1px #777 solid;
    margin-left: 20px;
}

#mlawImg {
    float: right;
    border: 1px #777 solid;
    margin-left: 20px;
}

#foot {
    width: 100%;
    height: 10%;
    background-color: #FFF;
    border-top: 1px #CCC solid;
}

#Tabell {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1em;
}

.bitnbyteTabell {
    width: 100%;
    margin-bottom: 10px;
}

table {
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-collapse: collapse;
}

.topRow {
    background-color: #BBB;
}

.bottomRow {
    background-color: #FFFFFF;
}

td {
    width: 50px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    text-align: center;
}

.kallList {
    background-color: aliceblue;
}
